---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Experience from "../sections/Experience.astro";
import Aboutme from "../sections/Aboutme.astro";
import Contact from "../sections/Contact.astro";

import Button from "../components/Button.astro";


---

<Layout
  title="SaskDev - Desarrollador Web Frontend"
  description="Mi portafolio personal con herramientas para Minecraft: Convertor de menus, y constructor de eventos de ConditionalEvents & Skript, con un sistema drag and drop."
>
  <main class="flex items-center flex-col">
    <!-- Hero -->
    <Section classes="h-[90dvh] sm:flex-row">
      <article>
        <h1 class="text-4xl md:text-5xl w-2xs md:w-lg py-3 font-bold">Hey, soy saskdev</h1>
        <p class="w-2xs md:w-lg text-xl py-3 text-gray-200">
          +5 años programando. Estudiante de <span
            class="text-blue-500 font-semibold"
            >Ingenieria de Software y Analista de Datos</span
          > de La Merced, Perú. Especializado en el desarrollo de aplicaciones web
          únicas.
        </p>
        <section class="py-3 text-sm md:text-md w-2xs flex items-center justify-between">
          <Button content="Contáctame" href="#contact">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              ></path>
            </svg>
          </Button>
          <Button content="GitHub" href="https://github.com/angbmz364" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
              ></path>
            </svg>
          </Button>
        </section>
      </article>
      <img
        src="/logo-white.svg"
        alt="Foto de perfil de SaskDev"
        class="size-50 lg:size-65 bg-gray-950/80 rounded-full p-5 hidden sm:block hover:-translate-y-2 hover:drop-shadow-xl transition-all duration-500"
      />
    </Section>

    <!-- About Me -->
    <Section classes="
    sm:items-start"
    id="about"
    >
      <Aboutme />
    </Section> 
    <!-- Experience  -->
    <Section classes="mt-20">
      <Experience />
    </Section>
    
    <!-- Contact -->
    <Section classes="mt-20 items-center sm:items-start"
    id="contact"
    >
      <Contact />
    </Section>
  </main>
</Layout>
