---
import Layout from "../layouts/Layout.astro";
import McHero from "../sections/McHero.astro";
import McServices from "../sections/McServices.astro";
import McStack from "../sections/McStack.astro";
import McServers from "../sections/McServers.astro";
---

<Layout
  title="SaskDev - Desarrollador Minecraft"
  description="Desarrollo de plugins, configuración de servidores y herramientas para Minecraft. +5 años de experiencia."
>
  <main class="flex items-center flex-col">
    <McHero />
    <McServices />
    <McStack />
    <McServers />
  </main>
</Layout>

