---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col items-center justify-center w-full">
        <h1 class="text-3xl font-semibold">Minecraft</h1>
    </div>
</Layout>
