---
import Layout from "../layouts/ToolLayout.astro";
import ToolList from "../sections/ToolList.astro";
import Section from "../components/Section.astro";
---

<Layout
  title="SaskDev - Herramientas"
  description="Colección de herramientas útiles para la configuración de servidores de Minecraft creadas por SaskDev. Convertidor de menú, Event Builder visual y Validador de sintaxis."
>
  <main class="flex items-center justify-center flex-col">
    <section
      class="flex flex-col items-start max-w-240 w-[90dvw] justify-center h-[80dvh]"
    >
      <h1 class="text-4xl md:text-5xl w-2xs md:w-lg py-3 font-bold">
        Herramientas para Minecraft
      </h1>
      <p class="w-2xs md:w-lg text-xl py-3 text-gray-200">
        He desarrollado una serie de potentes herramientas diseñadas para
        <span class="text-blue-500 font-semibold"
          >facilitar la creación, gestión y validación de contenido en
          servidores de Minecraft.</span
        > Todo directamente desde tu navegador.
      </p>
    </section>
    <ToolList />
  </main>
</Layout>
