---
export interface Props {
    href: string;
    content: string;
    target?: string;
}

const { href, content, target } = Astro.props
---

<a 
  href={href}
  target={target ? target : "_self" }
  class="flex gap-2 items-center justify-center px-5 py-1 rounded-3xl border border-gray-500 bg-gray-800/80 transition-all duration-150 hover:bg-gray-100 hover:text-gray-950"
    >
    <slot />
    {content}
</a>