---
export interface Props {
  classes?: string;
  id?: string;
}


const { classes, id } = Astro.props
---


<section
  class=`flex flex-col justify-center sm:justify-between items-center ${classes} max-w-240 w-[90dvw]`
  id={id}
    >
    <slot />
</section>