<h2
  class="text-3xl flex items-center justify-center sm:justify-start gap-3 mb-8 w-full font-semibold"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    class="size-8"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
    ></path>
  </svg>
  Sobre mí
</h2>

<article
  class="flex flex-col sm:flex-row items-center justify-center sm:justify-between w-full"
>
  <div class="
  text-gray-300 w-xs sm:w-xl tracking-wide [&>p]:mb-4 
  [&>p>strong]:text-blue-500 [&>p>strong]:font-mono
  ">
    <p>
      Me llamo Angel pero soy más conocido como sask.
    Me gusta entender cómo funcionan las cosas.
    </p>
    <p>
      Empecé a interesarme por la tecnología explorando, probando ideas y rompiendo más cosas de las que arreglaba, pero justamente así fue como aprendí. <strong>Hoy paso gran parte de mi tiempo construyendo proyectos, analizando problemas y expandiendo mis conocimientos.</strong> 
    </p>
    <p>
      Me interesa especialmente todo lo que combine lógica, creatividad y mucho JavaScript, <strong>desde páginas web simples hasta sistemas herramientas útiles para el resto.</strong> Siempre estoy aprendiendo algo nuevo y tratando de mejorar un poco cada día.
    </p>

  </div>
  <img
    src="/public/saskdev.webp"
    class="size-64 bg-gray-950 p-2 my-8 -order-1 sm:order-1 rotate-3 rounded-md border border-gray-900"
    alt="Foto de Angel Bernal (saskdev)"
  />
</article>
