<header class="flex items-center justify-between py-3 w-280">
    <img 
    src="/src/assets/logo-white.svg" 
    alt="Foto de perfil de SaskDev"
    class="size-12">
    <nav class="flex gap-x-10">
        <a href="/">Inicio</a>
        <a href="/about">Sobre Mi</a>
        <a href="/tools">Herramientas</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>