<header class="flex items-center justify-between py-3 w-280">
    <img 
    src="/src/assets/logo-white.svg" 
    alt="Foto de perfil de SaskDev"
    class="size-12">
    <nav>
        <a href="">Inicio</a>
        <a href="">Sobre Mi</a>
        <a href="">Herramientas</a>
        <a href="">Contacto</a>
    </nav>
</header>