<header class="flex fixed top-0 items-center justify-center py-3 max-w-240 w-[90dvw]"> 
    <nav class="flex text-sm md:text-md text-center bg-gray-800/80 rounded-full font-semibold sm:px-3 md:px-5">
        <a href="/" class="hover:text-blue-500 transition-all duration-150 px-3 py-2">Inicio</a>
        <a href="/about" class="hover:text-blue-500 transition-all duration-150 px-3 py-2">Sobre mí</a>
        <a href="/tools" class="hover:text-blue-500 transition-all duration-150 px-3 py-2">Herramientas</a>
        <a href="/contact" class="hover:text-blue-500 transition-all duration-150 px-3 py-2">Contacto</a>
    </nav>
</header>