<header
    class="flex fixed top-0 items-center justify-center py-3 max-w-240 w-[90dvw] z-10"
>
    <nav
        class="flex text-sm md:text-md text-center bg-gray-800/80 rounded-full backdrop-blur-sm font-semibold sm:px-3 md:px-5"
    >
        <a
            href="/"
            class="hover:text-blue-500 transition-all duration-150 px-3 py-2"
            >Inicio</a
        >
        <a
            href="/tools/menu"
            class="hover:text-blue-500 transition-all duration-150 px-3 py-2"
            >Menu Tools</a
        >
        <a
            href="/tools/eventbuilder"
            class="hover:text-blue-500 transition-all duration-150 px-3 py-2"
            >Event Builder</a
        >
        <a
            href="/tools/valitador"
            class="hover:text-blue-500 transition-all duration-150 px-3 py-2"
            >Validador</a
        >
    </nav>
</header>
