---

import Header from "../sections/Hero.astro";
import Footer from "../sections/Footer.astro"

const { title, description } = Astro.props;

---



<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="SaskDev">
		<meta name="keywords" content="saskdev, minecraft servers tools">
		<meta name="description" content=`${description}`>
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	@import "tailwindcss";

	body {
		background: #0d0d0d;
		color: #fff;
	}
</style>
